head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    title Дмитрий Галанцев
    meta(name="description", content="Освещает общую криминологическую теорию, криминологические отрасли, частные криминологические проблемы, а также деятельность")
    link(rel="shortcut icon", href="../images/favicon.ico")
    link(rel="dns-prefetch", href="http://www.google-analytics.com")
    link(rel="author", href="humans.txt")
    meta(name="twitter:site", content="")
    meta(name="twitter:creator", content="ottomen")
    meta(name="twitter:title", content="Дмитрий Галанцев")
    meta(name="twitter:description", content="Освещает общую криминологическую теорию, криминологические отрасли, частные криминологические проблемы, а также деятельность")
    meta(name="twitter:image:src", content="../uploads/promo/author.png")
    meta(property="og:url", content="")
    meta(property="og:type", content="website")
    meta(property="og:title", content="Дмитрий Галанцев")
    meta(property="og:image", content="../uploads/promo/author.png")
    meta(property="og:description", content="Освещает общую криминологическую теорию, криминологические отрасли, частные криминологические проблемы, а также деятельность")
    meta(property="og:site_name", content="")
    link(rel="stylesheet", href="../css/base64-fonts.css")
    link(rel="stylesheet", href="../css/critical.css")
    link(rel="stylesheet", href="../css/main-style.css")
    block script
    script(type='text/javascript').

        var banner = 'notifyImg';

        var notifyImg = `<div class="notify has-img">
            <div class="container">
              <div class="row notify--book">
                <div class="col-xs-12 col-md-3 col-md-offset-2 b-book-img hidden-xs hidden-xm hidden-sm"><img src="../uploads/notify/1.jpg" alt="book"></div>
                <div class="col-xs-12 col-md-5 b-book-description">
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="b-header">
                        <time class="colored">10 Июня, в 18:00</time>
                        <h4>Основы эффективного взаимоотношения с юридическими компаниями</h4>
                        <address>Москва, пр. Мира 7</address>
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-11">
                      <div class="b-footer">
                        <div class="b-text hidden-xs hidden-xm">
                          <p>Авторы Дмитрий Галанцев и Наталья Байкова озвучат тезисы в холе “Объединения читателей” по проспекту Мира 7 в Москве</p>
                        </div>
                        <div class="b-links"><a href="#" class="btn btn--brd">Читать о событии</a><a href="#" class="link-to">Скрыть сообщение</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>`;

        var notifyNoImg = `<div class="notify no-img">
          <div class="container">
            <div class="row notify--book">
              <div class="col-xs-12 col-md-8 col-md-offset-2 b-book-description">
                <div class="row">
                  <div class="col-xs-12 col-md-12">
                    <div class="b-header">
                      <div class="row">
                        <div class="col-xs-12 col-md-8">
                          <time class="colored">10 Июня, в 18:00</time>
                          <h4>Основы эффективного взаимоотношения с юридическими компаниями</h4>
                          <address>Москва, пр. Мира 7</address>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12">
                    <div class="b-footer">
                      <div class="row">
                        <div class="col-xs-12 col-md-6 hidden-xs hidden-xm">
                          <div class="b-text">
                            <p>Авторы Дмитрий Галанцев и Наталья Байкова озвучат тезисы в холе “Объединения читателей” по проспекту Мира 7 в Москве</p>
                          </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                          <div class="b-links"><a href="#" class="btn btn--brd">Читать о событии</a><a href="#" class="link-to">Скрыть сообщение</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>`;

        var notifyNoImgMin = `<div class="notify no-img min">
          <div class="container">
            <div class="row notify--book">
              <div class="col-xs-12 col-md-6 col-md-offset-3 b-book-description text-center">
                <div class="b-header">
                  <h4>Читайте мою новую статью о способах борьбы с ленью</h4>
                </div>
                <div class="b-footer">
                  <div class="b-links"><a href="#" class="btn btn--brd">Узнать подробнее</a><a href="#" class="link-to">Скрыть сообщение</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>`;

        var notifyImgMin = `<div class="notify has-img min">
          <div class="container">
            <div class="row notify--book">
              <div class="col-xs-12 col-md-3 col-md-offset-2 b-book-img hidden-xs hidden-xm"><img src="../uploads/notify/1.jpg" alt="book"></div>
              <div class="col-xs-12 col-md-5 b-book-description">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="b-header">
                      <h4>Читайте мою новую статью о способах борьбы с ленью</h4>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-11">
                    <div class="b-footer">
                      <div class="b-links"><a href="#" class="btn btn--brd">Читать</a><a href="#" class="link-to">Скрыть сообщение</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>`;