script(type='javascript').
    var formValidateSettings = {
        name: 'Введите свое имя',
        emailEmpty: 'Введите мейл',
        emailIncorrect: 'Введите корректный мейл'
    };
script(src="../js/global.js")
