script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
script(src="../js/global.js")
script(type='text/javascript').
    var formValidateSettings = {
        name: 'Это поле обязательно для заполнения',
        emailEmpty: 'Это поле обязательно для заполнения',
        emailIncorrect: 'Введите корректный адресс',
        send_again: 'Попробовать еще раз',
        thanks: 'спасибо!'
    };
//- script(src="http://cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.min.js")
//- script(src="js/libs/masonry/masonry.pkgd.js")
//- script(src="js/libs/imagesloaded.pkgd.js")
//- script(src="js/libs/isinvievport/isInViewport.js")
//- script(src="js/libs/light-gallery/lightgallery.min.js")
//- script(src="js/libs/light-gallery/lg-thumbnail.min.js")
//- script(src="js/libs/light-gallery/lg-fullscreen.min.js")
//- script(src="js/libs/sharrre/jquery.sharrre.js")
//- script(src="js/libs/jquery-form/jquery.form.js")
//- script(src="js/libs/validation/jquery.validate.js")
//- script(src="js/libs/validation/localization/messages_ru.js")
//- script(src="js/libs/flexibility/flexibility.js")
//- script(src="js/app/lib/site.js")
//- script(src="js/app/lib/siteMode.js")
//- script(src="js/app/mode/themeMode.js")
//- script(src="js/app/modules/bgImages.js")
//- script(src="js/app/modules/formValidate.js")
//- script(src="js/app/modules/formAjax.js")
//- script(src="js/app/modules/headerFunctions.js")
//- //- script(src="js/app/modules/mainMenu.js")
//- script(src="js/app/modules/masonry.js")
//- script(src="js/app/modules/articleFunctions.js")
//- script(src="js/app/modules/gallery.js")
//- script(src="js/app/modules/lightGallery.js")
//- script(src="js/app/modules/disquis.js")
//- script(src="js/app/modules/ajaxPagination.js")
//- //script(src="js/app/modules/subscribeNewsletter.js")
//- script(src="js/app/modules/sharrre.js")
//- script(src="js/app/modules/banner.js")
//- script(src="js/init.js")