#about-promo.about-promo
    .container
        .row
            .col-xs-12.col-sm-6.col-md-5.nogutter
                .about-promo__top
                    img.about-promo__author(src="../uploads/promo/author.png")

            .col-xs-12.col-sm-6.col-md-7.col-md-offset-5.vertical-centered
                .about-promo__bottom
                    h1.about-promo__title Здравствуйте, меня зовут #[br/] #[span Галанцев Дмитрий]
            .col-xs-12.col-md-7.col-md-offset-5
                .row
                    .col-xs-12.col-sm-8.col-md-6
                        p.text-bold Я возглавляю практику разрешения споров МГКА «Русский Домъ Права» и руковожу «Институтом литигации»
                    .col-xs-12.col-sm-4.col-md-6.vertical-centered
                        .about-img
                            .b-img
                                img(src="../uploads/about/1.png", alt="")
                            .b-img
                                img(src="../uploads/about/2.png", alt="")

                .about-promo__bottom-text Одно из моих увлечений – практическая психология. На моем личном сайте я бы хотел делиться моими наработками, находящимися на стыке юриспруденции и практической психологии, а также иной информацией о профессиональной деятельности и хобби.

                a.link-to(href="#") Подробнее обо мне
            //- ul.socials-list
            //-     li.socials-list__item
            //-         a.socials-list__link.fa.fa-facebook(href="https://www.facebook.com/dgalantsev", rel="nofollow")
            //-     li.socials-list__item
            //-         a.socials-list__link.fa.fa-vk(href="#", rel="nofollow")
            //-     li.socials-list__item
            //-         a.socials-list__link.fa.fa-linkedin(href="#", rel="nofollow")
