section.contact-form
	.container
		.row
			.col-xs-12.col-md-4.col-md-offset-2
				.title
					h2 Напишите мне
					p по любому интересующему вас поводу
			.col-xs-12.col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-0
				.form-holder
					form(action="../../example.json" method="get").form
						fieldset
							span.required *
							input(type="text" name='name' placeholder='Ваше имя:' required).form-control
						fieldset
							span.required *
							input(type="email" name='email' placeholder='Электронная почта:' required).form-control
						fieldset
							span.required *
							input(type="text" name='message' placeholder='Сообщение:' required).form-control
						button(type='submit').btn.btn--brd Отправить