footer#footer.footer
    .container
        .footer__top
            .footer__column
                .footer__column-title
                    a(href="articles.html") Эффективность литигаторской деятельности
                .footer__cgroup
                    .footer__cgroup-text
                        .footer__cgroup-bl
                            .footer__cgroup-title
                                a(href="articles.html") Правовая компетентность литигатора
                            ul.footer__cgroup-list
                                li.footer__cgroup-li
                                    a.footer__cgroup-link(href="articles.html") Корпоративное право
                        .footer__cgroup-bl
                            .footer__cgroup-title
                                a(href="articles.html") Стратегия и тактика литигаторской деятельности
                        .footer__cgroup-bl
                            .footer__cgroup-title
                                a(href="articles.html") Психологическая компетентность литигатора
                            ul.footer__cgroup-list
                                li.footer__cgroup-li
                                    a.footer__cgroup-link(href="articles.html") Судебная коммуникация
                                li.footer__cgroup-li
                                    a.footer__cgroup-link(href="articles.html") Управление состояниями

            .footer__column
                .footer__column-title
                    a(href="#") Хобби
                .footer__cgroup
                    .footer__cgroup-text
                        .footer__cgroup-bl
                            ul.footer__cgroup-list
                                li.footer__cgroup-li
                                    a.footer__cgroup-link(href="articles.html") Технический дайвинг
                                li.footer__cgroup-li
                                    a.footer__cgroup-link(href="articles.html") Спортивный покер
                                li.footer__cgroup-li
                                    a.footer__cgroup-link(href="articles.html") Айкидо
                                li.footer__cgroup-li
                                    a.footer__cgroup-link(href="articles.html") Сигары
            .footer__column
                .footer__column-title
                    a(href="about.html") Обо мне
        .footer__copyrights
            .footer__auth Дмитрий Галанцев
            ul.socials-list
                li.socials-list__item
                    a.socials-list__link.fa.fa-facebook(href="https://www.facebook.com/dgalantsev", rel="nofollow")
                li.socials-list__item
                    a.socials-list__link.fa.fa-vk(href="#", rel="nofollow")
                li.socials-list__item
                    a.socials-list__link.fa.fa-linkedin(href="#", rel="nofollow")
            .footer__cpr © 2015. Все права защищены.</br> Использование материалов размещенных на сайте только со ссылкой на оригинал

