footer.site-footer
    .row
        .small-12.columns
            .site-footer--top
              .row
                .small-12.medium-6.columns
                  h4 Концепция института
                  .footer-list
                    ul.list-row
                      li: a(href="#") Сила личности
                      li: a(href="#") Сила команды
                      li: a(href="#") Сила стратегии
                  h4 Услуги
                  .footer-list
                    ul.list-row
                      li: a(href="#") Личный и командный консалтинг
                    ul.list-row
                      li: a(href="#") Тренинги и обучающие программы
                      li: a(href="#") Вебинары
                    ul.list-row
                      li: a(href="#") Коучинг юридических проектов
                .small-12.medium-6.columns
                  .row
                    .small-12.large-6.columns
                      .footer-list
                        ul.list-row.in-column
                          li: a(href="#") Эксперты
                          li: a(href="#") События
                          li: a(href="#") Блог
                          li: a(href="#") Контакты
                    .small-12.large-6.columns
                      h4 Контакты
                      .b-contacts
                        p 125047 г. Москва, 
                        p ул. Большая Садовая, д.10
                        p: strong +7 (495) 202-03-26
                        p: a(href="mailto:globalaug15@gmail.com") globalaug15@gmail.com
            .site-footer--bottom
              .row
                .small-12.medium-6.columns
                  p.copyright © 2016 Институт литигации
                .small-12.medium-6.large-5.columns
                  p.copyright-descr Перепечатывание и использование материалов в электронном формате разрешается только при наличии гиперссылки на наш сайт. Использование материалов в печатных изданиях допускается только с письменного разрешения компании и/или автора материалов.
