#subscribeNewsletterFormWrap.form-wrap.form-wrap--insider
  .form-wrap__inner.form-holder
    form#subscribeNewsletterForm.form(action="../../example.json", autocomplete="off", method="get")
      .form-title Подпишитесь на рассылку
      .form-descr Выберите интересующую тематику
      fieldset
        input.form-control(type="text", name="name", placeholder="Ваше имя:")
      fieldset
        input.form-control(type="email", name="email", placeholder="Электронная почта:")
      fieldset.droplist
        .droplist__state Выберите тематики
        .droplist__list
          .droplist__item.droplist__item--cat.droplist__item--no
            label(for="efficiency") Эффективность литигаторской деятельности
          .droplist__item.droplist__item--par.droplist__item--no
            label(for="legalExpertise") Правовая компетентность литигатора
          .droplist__item
            input(type="checkbox", id="corporateLaw", name="droplist-category")
            label(for="corporateLaw") Корпоративное право
          .droplist__item
            input(type="checkbox", id="proceduralLaw", name="droplist-category")
            label(for="proceduralLaw") Процессуальное право
          .droplist__item
            input(type="checkbox", id="landLaw", name="droplist-category")
            label(for="landLaw") Земельное право и сделки с недвижимостью
          hr.droplist__hr
          .droplist__item.droplist__item--par
            input(type="checkbox", id="strategyAndTactics", name="droplist-category")
            label(for="strategyAndTactics") Стратегия и тактика литигаторской деятельности
          hr.droplist__hr
          .droplist__item.droplist__item--par.droplist__item--no
            label(for="psychologicalCompetence") Психологическая компетентность литигатора
          .droplist__item
            input(type="checkbox", id="communicationManagement", name="droplist-category")
            label(for="communicationManagement") Управление коммуникацией
          .droplist__item
            input(type="checkbox", id="innerManagement", name="droplist-category")
            label(for="innerManagement") Управление состояниями
          hr.droplist__hr.droplist__hr--wide
          .droplist__item.droplist__item--cat.droplist__item--no
            label(for="hobby") Хобби
          .droplist__item
            input(type="checkbox", id="diving", name="droplist-category")
            label(for="diving") Технический дайвинг
          .droplist__item
            input(type="checkbox", id="poker", name="droplist-category")
            label(for="poker") Покер
          .droplist__item
            input(type="checkbox", id="aikido", name="droplist-category")
            label(for="aikido") Айкидо
          .droplist__item
            input(type="checkbox", id="sigars", name="droplist-category")
            label(for="sigars") Сигары
          .droplist__item
            input(type="checkbox", id="activeHobby", name="droplist-category")
            label(for="activeHobby") Активный отдых
      button.btn.btn--inverse(type="submit") Подписаться
