.heading.mod
    .container
      .row
        .col-xs-12
          ul.breadcrumbs
            li.breadcrumbs__li
              a.breadcrumbs__link(href="index.html") Дмитрий Галанцев
            li.breadcrumbs__li
              span.breadcrumbs__link Управление состояниями
        .col-xs-12.col-md-6
          h1.extra Корпоративное право
        .col-xs-12.col-md-6
          p.discr Здравствуйте, меня зовут Галанцев Дмитрий. Я возглавляю практику разрешения споров МГКА «Русский Домъ Права» и руковожу «Институтом литигации». Одно из моих увлечений – практическая психология. На моем личном сайте я делюсь наработками на стыке юриспруденции и психологии, а также иной информацией о моих хобби
      //- .tag.tag--pen не понимаю что это