mixin header(headerClassName)

  header#header.header(class=headerClassName)
    .container-fluid.header__top
      button#header-toggle.header-toggle
        .header-toggle__line
        .header-toggle__line
        .header-toggle__line
      .header__current-page
        .header__current-title Блоги
        .header__current-descr Управление состояниями
      a.header__site-title(href="index.html").
        Дмитри<span class="about-promo__title-icon">и</span> Галанцев
      .header__srch
        form
          input.header-menu__input(placeholder="Поиск по сайту:", type="search")
          button.header-menu__search-icon(type="submit")
      button#header__search.header__search
      .header__lg
    .container#header-menu.header-menu
      .header-menu__topline
        button#header-close.header-menu__close
          .header-toggle__line
          .header-toggle__line
        form.header-menu__search
          input.header-menu__input(placeholder="Поиск по сайту:", type="search")
          button.header-menu__search-icon
        ul.socials-list
          li.socials-list__item
            a.socials-list__link.fa.fa-facebook(href="https://www.facebook.com/dgalantsev")
          li.socials-list__item
            a.socials-list__link.fa.fa-vk(href="#")
          li.socials-list__item
            a.socials-list__link.fa.fa-linkedin(href="#")
      .header-menu__botline
        .header-menu__about
          .header-menu__about-title Сайт Дмитрия Галанцева
          a.btn(href="about.html") Обо мне
        .header-menu__categories
          ul.header-menu__cat-list
            li.header-menu__cat-item.active
              a.header-menu__cat-link(href="articles.html") Все
            li.header-menu__cat-item
              a.header-menu__cat-link(href="articles.html") Блоги <span class="cat-link cat-link__pen"></span>
            li.header-menu__cat-item
              a.header-menu__cat-link(href="articles.html") Публикации <span class="cat-link cat-link__news"></span>
            li.header-menu__cat-item
              a.header-menu__cat-link(href="articles.html") События <span class="cat-link cat-link__star"></span>
        .header__columns
          .header__columns-item
            .header__columns-title
              a(href="articles.html", rel="nofollow") Эффективность литигаторской деятельности
            .header__cgroup
              .header__cgroup-text
                .header__cgroup-bl
                  .header__cgroup-title
                    a(href="articles.html") Правовая компетентность литигатора
                  ul.header__cgroup-list
                    li.header__cgroup-li
                      a.header__cgroup-link(href="articles.html") Корпоративное право
                .header__cgroup-bl
                  .header__cgroup-title
                    a(href="articles.html") Стратегия и тактика литигаторской деятельности
              .header__cgroup-logo
                img(src="../uploads/logo/russian-law-house.png")
            .header__cgroup
              .header__cgroup-text
                .header__cgroup-bl
                  .header__cgroup-title
                    a(href="articles.html", rel="nofollow") Психологическая компетентность литигатора
                  ul.header__cgroup-list
                    li.header__cgroup-li
                      a.header__cgroup-link(href="articles.html") Судебная коммуникация
                    li.header__cgroup-li
                      a.header__cgroup-link(href="articles.html") Управление состояниями
              .header__cgroup-logo
                img(src="../uploads/logo/litigation.png")
          .header__columns-item
            .header__columns-title
              a(href="articles.html") Хобби
            .header__cgroup
              .header__cgroup-text
                .header__cgroup-bl
                  ul.header__cgroup-list
                    li.header__cgroup-li
                      a.header__cgroup-link(href="articles.html") Технический дайвинг
                    li.header__cgroup-li
                      a.header__cgroup-link(href="articles.html") Спортивный покер
                    li.header__cgroup-li
                      a.header__cgroup-link(href="articles.html") Айкидо
                    li.header__cgroup-li
                      a.header__cgroup-link(href="articles.html") Сигары
              .header__cgroup-logo

+header(headerClassName)
