.container-fluid.header-wrap
	header.blocks__inner.site-header
		.burger
		.b-logo
			a(href="#").
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="logo" x="0px" y="0px" width="141.60468px" height="42.38849px" viewBox="0 0 141.60468 42.38849" style="enable-background:new 0 0 141.60468 42.38849;" xml:space="preserve">
					<path id="text" d="M139.14369,32.6992v0.0781c0.7943,0.0913,1.40291,0.3631,1.8262,0.8155  c0.4231,0.4525,0.6348,1.0336,0.6348,1.7431c0,2.1094-1.7188,3.1641-5.1563,3.1641h-6.02541V27.4355h6.04501  c1.60789,0,2.8091,0.2344,3.6035,0.7032c0.79419,0.4687,1.19139,1.1882,1.19139,2.1582c0,0.6445-0.1889,1.1784-0.56639,1.6015  C140.3188,32.3217,139.80119,32.5886,139.14369,32.6992z M136.40939,29.9355h-2.168v1.6602h2.0215  c0.40359,0,0.70461-0.0748,0.90331-0.2246c0.1985-0.1497,0.2979-0.3384,0.2979-0.5664  C137.4641,30.2253,137.1125,29.9355,136.40939,29.9355z M137.37619,34.2227c-0.23439-0.1497-0.573-0.2247-1.0157-0.2247h-2.11909V36  h2.08011c0.9375,0,1.40619-0.345,1.40619-1.0352C137.72769,34.6198,137.61049,34.3725,137.37619,34.2227z M136.2766,15.502  c0-1.0482,0.04539-2.2884,0.1367-3.7207L132.009,18.5h-4.2383V7.4355h3.3984v2.7833c0,0.1562-0.0016,0.3256-0.00481,0.5078  c-0.0034,0.1823-0.04739,1.3412-0.1319,3.4765l4.4238-6.7676h4.21881V18.5h-3.39841V15.502z M133.85469,6.3809  c-1.55609,0-2.7197-0.3028-3.4912-0.9082c-0.7715-0.6055-1.2029-1.543-1.29401-2.8125h3.18361  c0.0325,0.6381,0.17239,1.1003,0.41989,1.3867c0.24741,0.2865,0.6412,0.4297,1.1817,0.4297c0.9765,0,1.5103-0.6055,1.6015-1.8164  h3.2325C138.4216,5.1406,136.8103,6.3809,133.85469,6.3809z M129.2648,32.2988v1.6992h-6.8261  c0.0259,0.6186,0.2522,1.1036,0.6787,1.4551c0.4263,0.3516,1.0074,0.5274,1.7431,0.5274c0.6705,0,1.2874-0.0635,1.8506-0.1905  c0.5631-0.1269,1.1734-0.3433,1.83109-0.6494v2.7442c-0.5991,0.3061-1.21749,0.5175-1.85549,0.6347  c-0.6381,0.1172-1.3998,0.1758-2.2851,0.1758c-1.8425,0-3.2732-0.4898-4.292-1.4697c-1.019-0.9798-1.5284-2.3746-1.5284-4.1846  c0-1.8684,0.472-3.3023,1.4161-4.3017c0.94389-0.9993,2.2915-1.4991,4.0429-1.4991c1.6666,0,2.95409,0.4346,3.8623,1.3037  C128.8107,29.4131,129.2648,30.6648,129.2648,32.2988z M125.34389,30.3164c-0.2897-0.3189-0.6787-0.4785-1.167-0.4785  c-0.4492,0-0.8251,0.1416-1.1279,0.4248c-0.3027,0.2832-0.4802,0.7275-0.5322,1.333h3.2812  C125.7849,31.062,125.6336,30.6355,125.34389,30.3164z M122.7355,15.502c0-1.0482,0.0455-2.2884,0.1368-3.7207l-4.4043,6.7187  h-4.2383V7.4355h3.3984v2.7833c0,0.1562-0.0017,0.3256-0.0049,0.5078c-0.0033,0.1823-0.0473,1.3412-0.13181,3.4765l4.42381-6.7676  h4.2188V18.5h-3.3985V15.502z M109.009,18.6953c-0.56,0-1.0613-0.0928-1.5039-0.2783c-0.4428-0.1856-0.8823-0.5191-1.3184-1.001  h-0.1758c0.1172,0.7749,0.1758,1.2564,0.1758,1.4453v4.4434h-3.81831V7.4355h3.1054l0.5371,1.4063h0.1758  c0.7095-1.0677,1.6895-1.6016,2.9395-1.6016c1.2239,0,2.1841,0.5078,2.8808,1.5235c0.6966,1.0156,1.0449,2.4089,1.0449,4.1797  c0,1.7839-0.363,3.1884-1.0888,4.2138C111.2371,18.1826,110.2524,18.6953,109.009,18.6953z M108.8332,10.8584  c-0.22141-0.4134-0.5893-0.6201-1.1035-0.6201c-0.56001,0-0.9522,0.2002-1.1768,0.6006c-0.2246,0.4004-0.34669,0.9945-0.3662,1.7822  v0.3027c0,0.9507,0.127,1.6374,0.3809,2.0606c0.2539,0.4233,0.6543,0.6347,1.2011,0.6347c0.4883,0,0.84309-0.2099,1.0645-0.6298  c0.2212-0.42,0.332-1.1148,0.332-2.085C109.1652,11.9538,109.0544,11.2719,108.8332,10.8584z M97.92889,18.5h-3.8184v-8.2227  h-3.6425V7.4355h11.1035v2.8418h-3.6426V18.5z M90.9367,38.5h-2.6465l-0.7324-1.4648h-0.0781  c-0.5144,0.6381-1.0385,1.0742-1.5723,1.3085c-0.5339,0.2344-1.224,0.3516-2.0703,0.3516c-1.0417,0-1.862-0.3125-2.4609-0.9375  c-0.5991-0.625-0.8985-1.5039-0.8985-2.6367c0-1.1783,0.41019-2.0557,1.2305-2.6318c0.8203-0.5762,2.0084-0.9,3.5644-0.9717  l1.8458-0.0586v-0.1563c0-0.9114-0.4493-1.3672-1.3477-1.3672c-0.8073,0-1.8327,0.2735-3.0762,0.8204l-1.1035-2.5196  c1.2891-0.664,2.9166-0.9961,4.8828-0.9961c1.4192,0,2.51791,0.3516,3.29591,1.0547c0.7779,0.7031,1.167,1.6863,1.167,2.9492V38.5z   M87.13789,33.5586l-0.8789,0.0391c-1.2566,0.0456-1.8848,0.5078-1.8848,1.3867c0,0.6772,0.3613,1.0156,1.084,1.0156  c0.4622,0,0.8577-0.1465,1.1865-0.4395c0.3287-0.2929,0.49319-0.6738,0.49319-1.1425V33.5586z M86.2727,15.502  c0-1.0482,0.0454-2.2884,0.1367-3.7207L82.0051,18.5h-4.2383V7.4355h3.3984v2.7833c0,0.1562-0.0017,0.3256-0.00491,0.5078  c-0.0033,0.1823-0.04729,1.3412-0.1318,3.4765l4.4238-6.7676h4.2188V18.5h-3.3984V15.502z M72.7121,10.2383  c-0.2084,0.8398-0.4443,1.7074-0.708,2.6025c-0.2637,0.8953-0.874,2.7817-1.8311,5.6592h-2.5976l-1.14259-3.5352  c-0.3842-1.1848-0.7878-2.5161-1.2109-3.9941l-0.2149-0.7324V18.5h-3.4179V7.4355h5.2246l0.8593,2.5879  c0.1627,0.4949,0.3873,1.281,0.6739,2.3584c0.2864,1.0776,0.4622,1.8247,0.5273,2.2412c0.0391-0.3059,0.2701-1.1718,0.6934-2.5976  l0.3808-1.3086l1.0645-3.2813h5.1172V18.5h-3.418V10.2383z M57.1496,18.5h-8.3203v4.4434h-3.7598v-7.6075h1.1817  c0.8528-1.4453,1.5559-3.1167,2.1093-5.0146c0.5533-1.8977,0.9114-3.9307,1.0743-6.0986h9.5214v11.1132h1.9532v7.6075h-3.7598V18.5z   M55.0695,7.377h-2.539c-0.2671,2.7865-0.9995,5.4394-2.1973,7.9589h4.7363V7.377z M56.0559,27.3379h-5.6446V38.5h-3.8769V24.2227  h9.5215V27.3379z M61.0715,31.5176l1.8457-0.0586v-0.1563c0-0.9114-0.4492-1.3672-1.3477-1.3672  c-0.8073,0-1.8327,0.2735-3.0761,0.8204l-1.1036-2.5196c1.2891-0.664,2.9166-0.9961,4.8829-0.9961  c1.4192,0,2.5178,0.3516,3.2958,1.0547c0.7779,0.7031,1.167,1.6863,1.167,2.9492V38.5h-2.6464l-0.7325-1.4648h-0.0781  c-0.5144,0.6381-1.0385,1.0742-1.5723,1.3085c-0.5339,0.2344-1.224,0.3516-2.0703,0.3516c-1.0417,0-1.862-0.3125-2.4609-0.9375  c-0.5991-0.625-0.8984-1.5039-0.8984-2.6367c0-1.1783,0.4101-2.0557,1.2304-2.6318C58.3273,31.9131,59.5154,31.5893,61.0715,31.5176  z M61.257,36c0.4622,0,0.8577-0.1465,1.1865-0.4395c0.3287-0.2929,0.4932-0.6738,0.4932-1.1425v-0.8594l-0.8789,0.0391  c-1.2566,0.0456-1.8848,0.5078-1.8848,1.3867C60.173,35.6616,60.5344,36,61.257,36z M68.03049,35.7363  c0.2929,0,0.5305-0.1513,0.71291-0.4541c0.1821-0.3027,0.3433-0.7861,0.4834-1.4502c0.1399-0.664,0.2668-1.5168,0.3808-2.5586  c0.1138-1.0415,0.2229-2.3208,0.3272-3.8379h9.5019V38.5h-3.8183v-8.2227h-2.2461c-0.2149,2.3764-0.4851,4.1228-0.8106,5.2393  c-0.3256,1.1166-0.7748,1.9255-1.3476,2.4268c-0.573,0.5014-1.3445,0.7519-2.3145,0.7519c-0.6772,0-1.2534-0.0976-1.7285-0.293  v-2.8418C67.38589,35.6777,67.67229,35.7363,68.03049,35.7363z M96.3527,31.4199h3.0274v-3.9844h3.8183V38.5h-3.8183v-4.2383  h-3.0274V38.5h-3.81831V27.4355h3.81831V31.4199z M108.6535,35.6582h3.5449v-8.2227h3.8184v8.2227h2.48051v6.9043h-3.3399V38.5  h-10.3223V27.4355h3.8184V35.6582z"/>
					<path id="symbol" d="M16.4914,38.9261v-16.964c1.8084-0.3517,3.1742-1.9429,3.1742-3.8538c0-2.1697-1.7584-3.9278-3.9275-3.9278  s-3.9275,1.7581-3.9275,3.9278c0,1.88,1.3222,3.4501,3.0871,3.8354V38.839L1.5001,26.669L0,0.174c0,0,7.8526,2.5899,15.7153,2.5899  c7.883,0,15.7763-2.5899,15.7763-2.5899l-1.5,26.495L16.4914,38.9261z"/>
				</svg>

		.header_menu
			.header_menu--bottom
				ul
					li.has-sub
						a(href="#") Профессиональная компетенция
						ul.sub-menu
							li: a(href='#') Разрешение корпоративных споров
							li: a(href='#') Разрешение споров в сфере недвижимости
							li: a(href='#') Повышение эффективности судебного представительства
							li: a(href='#') Независимый консалтинг правовых конфликтов
					li
						a(href="#") Квалификация
					li
						a(href="#") Обо мне
					li
						a(href="#") Контакты
			.header_menu--top
				ul
					li.has-sub
						a(href="#") Профессиональная компетенция
						ul.sub-menu
							li: a(href='#') Разрешение корпоративных споров
							li: a(href='#') Разрешение споров в сфере недвижимости
							li: a(href='#') Повышение эффективности судебного представительства
							li: a(href='#') Независимый консалтинг правовых конфликтов
					li
						a(href="#") События
					li
						a(href="#") СМИ
					li
						a(href="#") Видео
					li
						a(href="#") Книги
					li
						a(href="#") Проекты
					li
						a(href="#") Отзывы

		form.search-form
			input(type="text" placeholder='Поиск по сайту')
			button.btn.btn--inverse Найти
		.b-search
			//.search-wrapper.search
			//	.element#one
			//	.element#two