section.b-experts.background-dark
	.row.expanded
		.small-12.columns
			.section-title.big
				h2 Эксперты
		.small-12.columns
			.offset-slider
				.slide
					p slide
				.slide
					p slide
				.slide
					p slide
				.slide
					p slide
				.slide
					p slide
				.slide
					p slide