section.b-experts.background-dark
	.row.expanded
		.small-12.columns
			.section-title.big
				h2 Эксперты
		.small-12.columns
			.expert-slider
				.slide
					img(src='https://dummyimage.com/264x434/000/fff' alt='alt')
				.slide
					img(src='https://dummyimage.com/264x434/000/fff' alt='alt')
				.slide
					img(src='https://dummyimage.com/264x434/000/fff' alt='alt')
				.slide
					img(src='https://dummyimage.com/264x434/000/fff' alt='alt')
				.slide
					img(src='https://dummyimage.com/264x434/000/fff' alt='alt')
				.slide
					img(src='https://dummyimage.com/264x434/000/fff' alt='alt')