section.b-tasks
	.row
		.cursor-line
		.small-12.large-4.large-order-1.columns.b-task_item
			.b-task_logo
				.tooltip
					.popup
						p Litigation в переводе с английского означает судебный процесс, судебное разбирательство, тяжба, спор
				img(src="../images/icon-inst-big.png", alt="logo")
		.small-12.medium-5.large-4.large-order-0.columns(data-aos="fade-right")
			.b-task_item.task--left
				article.b-task_descr
					h3 Формируем профессиональные стандарты литигаторской деятельности в России
		.small-12.medium-5.medium-offset-2.large-4.large-offset-0.large-order-2.columns(data-aos="fade-left")
			.b-task_item.task--right
				article.b-task_descr
					h3 Обеспечиваем единое понимание основ профессиональной этики и мастерства, единых ценностей и убеждений
		.scroll-down