section.b-experts.background-dark
	.row
		.small-12.columns
			.section-title.big
				h2 Эксперты
		.small-12.columns
			.expert-slider.animateFadeInUp
				.slide
					.expert_item
						a(href="#")
						img(src='https://dummyimage.com/264x434/000/fff' alt='alt')
						.expert_item-descr
							h2 #[span.colored Максим] #[br/] Божко
							p Управляющий партнер, кандидат юридических наук, адвокат
				.slide
					.expert_item
						a(href="#")
						img(src='https://dummyimage.com/264x434/000/fff' alt='alt')
						.expert_item-descr
							h2 #[span.colored Максим] #[br/] Божко
							p Управляющий партнер, кандидат юридических наук, адвокат
				.slide
					.expert_item
						a(href="#")
						img(src='https://dummyimage.com/264x434/000/fff' alt='alt')
						.expert_item-descr
							h2 #[span.colored Максим] #[br/] Божко
							p Управляющий партнер, кандидат юридических наук, адвокат
				.slide
					.expert_item
						a(href="#")
						img(src='https://dummyimage.com/264x434/000/fff' alt='alt')
						.expert_item-descr
							h2 #[span.colored Максим] #[br/] Божко
							p Управляющий партнер, кандидат юридических наук, адвокат
				.slide
					.expert_item
						a(href="#")
						img(src='https://dummyimage.com/264x434/000/fff' alt='alt')
						.expert_item-descr
							h2 #[span.colored Максим] #[br/] Божко
							p Управляющий партнер, кандидат юридических наук, адвокат
				.slide
					.expert_item
						a(href="#")
						img(src='https://dummyimage.com/264x434/000/fff' alt='alt')
						.expert_item-descr
							h2 #[span.colored Максим] #[br/] Божко
							p Управляющий партнер, кандидат юридических наук, адвокат