section.home-book
	.row
		.close-button
		.show-for-medium.medium-6.large-4.large-offset-1.columns
			.b-book
				img(src="../images/book.jpg", alt="book")
		.small-12.medium-6.columns
			.b-book_description
				.b-book_about
					p.bold #[span.colored 10 Июня, в 18:00] состоится презентация и старт продажи нашей новой книги
				.b-book_title
					h2 “Основы эффективного взаимоотношения с юридическими компаниями”
				.b-book_about.show-for-large
					p Авторы #[span.bold Дмитрий Галанцев] и #[span.bold Наталья Байкова] озвучат тезисы в холе “Объединения читателей” по проспекту Мира 7 в Москве
				.b-book_more
					a(href='#').button Подробнее о событии