section.b-practice
	.row
		.small-12.columns
			.section-divider(data-aos='full-width')
		.small-12.columns
			.b-practice_title.row
				.small-12.columns.medium-order-1
					.b-practice_svg
						h2 Институт литигации #[span.colored изучает, обобщает и популяризует практики]
						include ../../images/svg/inl-index-fig-pins-desktop-start.svg
						include ../../images/svg/inl-index-fig-pins-tablet-start.svg
				.small-12.medium-4.medium-offset-8.large-3.large-offset-9.columns.medium-order-0
					.b-practice_text--right
						p #[strong От методик планирования и принятия решений] по ключевым вопросам судебного процесса
				.small-12.medium-4.large-3.columns.medium-order-2
					.b-practice_text--left
						p #[strong До стресс-менеджмента и стратегий личной эффективности юристов], вовлеченных в судебную деятельность
		.small-12.medium-10.medium-offset-1.columns
			.section-divider.has-img(data-aos='full-width')
				.b-img
					img(src="../images/icon-logo-div.jpg", alt="logo")
		.small-12.medium-5.medium-offset-1.large-4.columns
			.b-subscribe
				h3: span.colored Подписывайтесь!
				p Мы с удовольствием делимся нашим опытом с единомышленниками и с теми кто увлечен литигаторской деятельностью
				a(href="#").button Подписаться
		.small-12.medium-5.large-4.large-offset-2.columns
			h3 Институт в своей деятельности использует заимствования из зарубежного опыта, адаптированные к российским реалиям