section.b-numeric
	.row.numeric-grid
		.small-12.medium-6.large-3.columns.numeric-grid_item.animateFadeInLeft
			h3 Российское юридическое сообщество #[span.colored ставит такие задачи]
		.small-12.medium-6.large-3.columns.numeric-grid_item(data-aos-delay="300" data-aos="fade-up")
			article.task_item
				p #[strong Выстраивание долгосрочных] и продуктивных отношений с доверителями
			span.number 
		.small-12.medium-6.large-3.columns.numeric-grid_item(data-aos-delay="600" data-aos="fade-up")
			article.task_item
				p #[strong Составление правил] и принципов формирования юридических команд, управление ими
			span.number 
		.small-12.medium-6.large-3.columns.numeric-grid_item(data-aos-delay="900" data-aos="fade-up")
			article.task_item
				p #[strong Поиск рациональных способов] решения правовых задач
			span.number 