section.b-news.background-light
    .row
        .small-12.columns
            .section-title.big
                h2 Новости и события
    .row.masonry-grid
        .small-12.medium-6.large-3.columns.masonry-item
            article.b-news_item
                .b-news_item-img(style='background-image: url(../images/upload-demo/img2.jpg)')
                .b-news_item-data
                    .b-news_item-data--title
                        h4: a(href='#') Эффективные методики целеполагания
                    .b-news_item-data--descr
                        span.date 13:00, 14 января
                        p Автор: #[span.colored Дмитрий Галанцев]
        .small-12.medium-6.large-3.columns.masonry-item
            article.b-news_item.big
                .b-news_item-img(style='background-image: url(../images/upload-demo/img1.jpg)')
                .b-news_item-data
                    .b-news_item-data--title
                        span.date 14 Января #[br/] 13:00 
                    .b-news_item-data--descr
                        h4: a(href='#') Эффективные методики целеполагания
                        p По проспекту Мра 7 в Москве
        .small-12.medium-6.large-3.show-for-medium.columns.masonry-item
            article.b-news_item
                .b-news_item-img(style='background-image: url(../images/upload-demo/img2.jpg)')
                .b-news_item-data
                    .b-news_item-data--title
                        h4: a(href='#') О неопределенности, сложности и меняющихся обстоятельствах
                    .b-news_item-data--descr
                        span.date 13:00, 14 января
                        p Автор: #[span.colored Дмитрий Галанцев]
        .small-12.medium-6.large-3.show-for-medium.columns.masonry-item
            article.b-news_item
                .b-news_item-img(style='background-image: url(../images/upload-demo/img2.jpg)')
                .b-news_item-data
                    .b-news_item-data--title
                        h4: a(href='#') Эффективные методики целеполагания
                    .b-news_item-data--descr
                        span.date 13:00, 14 января
                        p Автор: #[span.colored Дмитрий Галанцев]
        .small-12.medium-6.large-3.show-for-large.columns.masonry-item
            article.b-news_item
                .b-news_item-img(style='background-image: url(../images/upload-demo/img2.jpg)')
                .b-news_item-data
                    .b-news_item-data--title
                        h4: a(href='#') О неопределенности, сложности и меняющихся обстоятельствах
                    .b-news_item-data--descr
                        span.date 13:00, 14 января
                        p Автор: #[span.colored Дмитрий Галанцев]
        .small-12.medium-6.large-3.show-for-large.columns.masonry-item
            article.b-news_item.big
                .b-news_item-img
                .b-news_item-data
                    .b-news_item-data--title
                        span.date 14 Января #[br/] 13:00 
                    .b-news_item-data--descr
                        h4: a(href='#') Конференция “Штурвал прибыли”
                        p По проспекту Мра 7 в Москве
        .small-12.medium-6.large-3.show-for-large.columns.masonry-item
            article.b-news_item
                .b-news_item-img(style='background-image: url(../images/upload-demo/img2.jpg)')
                .b-news_item-data
                    .b-news_item-data--title
                        h4: a(href='#') Эффективные методики целеполагания
                    .b-news_item-data--descr
                        span.date 13:00, 14 января
                        p Автор: #[span.colored Дмитрий Галанцев]
        .small-12.medium-6.large-3.show-for-large.columns.masonry-item
            article.b-news_item
                .b-news_item-img(style='background-image: url(../images/upload-demo/img2.jpg)')
                .b-news_item-data
                    .b-news_item-data--title
                        h4: a(href='#') О неопределенности, сложности и меняющихся обстоятельствах
                    .b-news_item-data--descr
                        span.date 13:00, 14 января
                        p Автор: #[span.colored Дмитрий Галанцев]
    .row.news-controls
        .medium-7.large-9.columns.show-for-medium.content-align-middle
            .section-divider
        .small-12.medium-5.large-3.columns
            a(href="#").button.secondary Все события
            a(href="#").button.secondary Все новости