section.b-concept#concept
	.b-concept-wrap
		.row
			.small-12.columns
				.section-divider(data-aos='full-width')
			.small-12.columns
				.section-title
					h2 В результате мы составили #[br/] #[span.colored концепцию института литигации]
			.small-12.medium-4.medium-order-1.columns
				.b-img
					img(src="../images/icon-inst-fill.png", alt="logo")
					include ../../images/svg/inl-visual.svg
			.small-12.medium-4.medium-order-0.columns.b-concept_item.centered(data-aos="fade-right")
				article.b-concept_item-inner
					h2: span Сила личности
					p Роль личности в реализации любого проекта — судебного либо коммерческого — трудно переоценить
			.small-12.medium-4.medium-order-2.columns.b-concept_item.centered(data-aos="fade-left")
				article.b-concept_item-inner
					h2: span Сила команды
					p Юристы — одна из самых «кастовых» профессий. Деление по признаку «свой — чужой» выражено очень ярко
			.small-12.medium-4.medium-offset-4.medium-order-3.columns.b-concept_item(data-aos="fade-up")
				article.b-concept_item-inner
					h2: span Сила стратегии
					p В суде стороны процесса стремятся к противоположным результатам. И каждая из них использует все доступные средства и методы воздействия на исход спора
	.b-services-wrap
		.row
			.small-12.columns
				.b-services
					h2 Ознакомтесь с основными #[br/] #[span.colored услугами института]
					ul.services-list
						li: a(href="#") Личный и командный консалтинг
						li: a(href="#") Тренинги и обучающие программы
						li: a(href="#") Вебинары
						li: a(href="#") Коучинг юридических проектов
