.b-partners.blocks__inner.no-mobile-padding
  .container
    .row
      .col-xs-12
        .section-title.landing-title
          h2 Книга издана при поддержке
    .row.overflow-container 
      .b-overflow.justufy-center
        .col-xs-6.col-sm-4.col-md-2.partner-item
          a(href="#"): img(src="../uploads/partners/1.jpg", alt="")
        .col-xs-6.col-sm-4.col-md-2.partner-item
          a(href="#"): img(src="../uploads/partners/2.jpg", alt="")
        .col-xs-6.col-sm-4.col-md-2.partner-item
          a(href="#"): img(src="../uploads/partners/3.jpg", alt="")
        .col-xs-6.col-sm-4.col-md-2.partner-item
          a(href="#"): img(src="../uploads/partners/4.jpg", alt="")
        .col-xs-6.col-sm-4.col-md-2.partner-item
          a(href="#"): img(src="../uploads/partners/1.jpg", alt="")
        .col-xs-6.col-sm-4.col-md-2.partner-item
          a(href="#"): img(src="../uploads/partners/2.jpg", alt="")

