section.b-themes.blocks__inner.no-mobile-padding(style='background-image: url(../images/landing/sectin-bg.jpg)')#themes
    .container
        .row
            .col-xs-12
                .section-title.landing-title.white
                    h2 В книге я раскрываю такие темы
        .row.overflow-container
            .b-overflow
                .col-xs-12.col-sm-6.col-lg-4.theme-item
                    .theme-item--inner
                        p Какое место занимает стресс в жизни обычного человека
                .col-xs-12.col-sm-6.col-lg-4.theme-item
                    .theme-item--inner
                        p Почему юристу необходимо следить за своим психическим состоянием
                .col-xs-12.col-sm-6.col-lg-4.theme-item
                    .theme-item--inner
                        p Как системно сформировать навык управления стрессом
                .col-xs-12.col-sm-6.col-lg-4.theme-item
                    .theme-item--inner
                        p Техники работы со стрессом, аутсорсинг, медитация, эмоциональный интеллект, тайм-менеджмент и принятие решений
                .col-xs-12.col-sm-6.col-lg-4.theme-item
                    .theme-item--inner
                        p Убеждения, которые присущи эффективному практикующему юристу
                .col-xs-12.col-sm-6.col-lg-4.theme-item
                    .theme-item--inner
                        p Психологические метоики, позволяющие эффективно проработать любые проявления стрессовых ситуаций