section.b-book.container
    .row
        .col-xs-12.col-lg-7.col-lg-offset-5
            ul.sharing.feed__list
                li: span.feed__list-link.fa.fa-twitter.sharrre Твитнуть
                li: span.feed__list-link.fa.fa-twitter.sharrre Поделиться 2
                li: span.feed__list-link.fa.fa-twitter.sharrre Плюсануть
                li: span.feed__list-link.fa.fa-twitter.sharrre Поделиться 1
        .col-xs-12.col-sm-6.col-lg-5
            span.book-wrap
                img(src="../images/landing/book-pic.jpg", alt="pic")
        .col-xs-12.col-sm-6.col-lg-7
            .about-promo__bottom.book-title
                h1.about-promo__title Новая книга Дмитрия Галанцева 
                    span “Почему мы ленимся и что с этим делать”
        .col-xs-12.col-lg-7
            p.book-description Книга о создании условий повышения стрессоустойчивости. Полезна юристами, практикующим литигаторам и интересующимся методами управления стрессом
            .book-links
                a(href='#').btn.btn--brd Предзаказ за 15 000 ₽
                p.price 19 000 ₽
        .col-xs-12
            .read-more.text-center
                a(href="#") Узнать о книге