section.b-authors.container
    .row
        .col-xs-12
            .section-title.landing-title.dark
                h2 От авторов книги
        .col-xs-12.col-lg-8.col-lg-offset-2
            .author-item.row
                .col-xs-12.col-sm-4.author-info
                    .row
                        .col-xs-6.col-sm-12.col-xs-push-6.col-sm-push-0
                            img(src="../images/landing/author.jpg", alt="pic")
                        .col-xs-6.col-sm-12.col-xs-pull-6.col-sm-pull-0
                            p.author-description #[span.text-bold Дмитрий Галанцев], руководитель #[a(href='#') Института специальной психологии и бизнес-консалтинга], партнер #[a(href='#') МГКА Русский Домъ Права], эксперт #[a(href='#') Что делать Консал]
                .col-xs-12.col-sm-8.author-text
                    p В последнее время модно говорить о стрессе. Интернет, газеты, телевидение – пестрят советами о том как его преодолеть, насколько он вреден и насколько хороша жизнь, когда его нет… Тренинги по развитию навыков стрессоустойчивости бьют рекорды посещаемости… Словосочетание stress management прочно вошло в наш лексикон. Однако, несмотря на это, стресса в жизни россиян меньше не стало…Косвенным свидетельством этому выступает «почетное» первое место по смертности от сердечно-сосудистых заболеваний, занимаемое Россией.Статистика выглядит просто фантастически: из 100 тысяч человек только от инфаркта миокарда в России ежегодно умирают 330 мужчин и 154 женщины, а от инсультов - 204 мужчины и 151 женщина. 
                    img(src="../images/landing/signature.png", alt="sign").signature
            .author-item.row
                .col-xs-12.col-sm-4.author-info
                    .row
                        .col-xs-6.col-sm-12.col-xs-push-6.col-sm-push-0
                            img(src="../images/landing/author.jpg", alt="pic")
                        .col-xs-6.col-sm-12.col-xs-pull-6.col-sm-pull-0
                            p.author-description #[span.text-bold Дмитрий Галанцев], руководитель #[a(href='#') Института специальной психологии и бизнес-консалтинга], партнер #[a(href='#') МГКА Русский Домъ Права], эксперт #[a(href='#') Что делать Консал]
                .col-xs-12.col-sm-8.author-text
                    p В последнее время модно говорить о стрессе. Интернет, газеты, телевидение – пестрят советами о том как его преодолеть, насколько он вреден и насколько хороша жизнь, когда его нет… Тренинги по развитию навыков стрессоустойчивости бьют рекорды посещаемости… Словосочетание stress management прочно вошло в наш лексикон. Однако, несмотря на это, стресса в жизни россиян меньше не стало…Косвенным свидетельством этому выступает «почетное» первое место по смертности от сердечно-сосудистых заболеваний, занимаемое Россией.Статистика выглядит просто фантастически: из 100 тысяч человек только от инфаркта миокарда в России ежегодно умирают 330 мужчин и 154 женщины, а от инсультов - 204 мужчины и 151 женщина.
                    img(src="../images/landing/signature.png", alt="sign").signature