section.b-subscribe-form
    .row
        .small-12.large-6.columns
            .subscribe-title
                h2 title
            .subscribe-descr
                p text
        .small-12.large-6.columns
            form
                input(type="text" placeholder=".medium-6.columns")
                input(type="text" placeholder=".medium-6.columns")
