aside.content__preview-aside
  a.content__preview-link.cls(href="#")
    img.prew(src="../uploads/notify/2.jpg")
    img.content__preview-icon(src="../uploads/articles/logo.jpg")
  b
    i Эта статья опубликована
  br
  p в интернет-издательстве “The Village Россия” 3 Ноября 2105 г.
    br
    a(href="#") www.the-village.ru/publications/64430054/vlijanie_resheniy_galantsev