extends templates/page-template

block script
  script(type='text/javascript').
    var vars = {
        ajaxUrl: "",
        page: 'common_page'
    };

block content
  .ff
    .container
      img(src="images/404.png", alt="").ff__img
      .ff__title Страница не найдена
      .ff__descr.
        Воспользуйтесь разделами меню или перейдите <a href="index.html">на главную страницу</a>
      hr