extends templates/page-template

- var headerClassName = "header-freeze"

block script
  script(type='text/javascript').
    var vars = {
        ajaxUrl: "",
        page: 'common_page'
    };

block content
  .about-heading
    .container
      h1.about-heading__title.
        Здравствуйте! </br>
        Меня зовут Галанцев Дмитрий.
      p.
        Я возглавляю практику разрешения споров Московской городской коллегии адвокатов «Русский Домъ Права»,
        являюсь партнером данной коллегии.
      p.
        Область моих профессиональных интересов — эффективные методики разрешения корпоративных конфликтов
      img.about-heading__author(src="../uploads/promo/author-big.png", alt="")
  .blocks
    .container-fluid
      .blocks__inner
        .about-content.content__data
          .about-intro
            p.
              Увлечение корпоративным правом, опыт участия в большом количестве судебных процессов сформировали мое
              увлечение стратегиями ведения судебных споров, а также методиками повышения личной эффективности
              адвоката и судебного юриста.
            p.
              Логическим продолжением данного увлечения стало учреждение в 2014 г. <b>Института литигации</b> —
              организации, профессионально занимающуюся изучением составляющих успешной литигаторской работы.
            aside.note.note--p
              hr
              img(src="../uploads/logo/litigation-big.png", alt="")
              p.
                Более подробно читайте на сайте<br>
                <a href="#"><b class="extra">Института литигации</b></a></p>
            .about-intro__wide
              h2  Институт, который я возглавляю, осуществляет работу в трех направлениях
              .routes
                .route
                  .route__digit
                  p Комплексная разработка стратегии и тактики реализации правовых проектов
                .route
                  .route__digit
                  p Обеспечение повышения личной эффективности лиц, команд и организаций, участвующих в  реализации
                .route
                  .route__digit
                  p Сопровождение литигационных проектов
          hr
          h2.
            Моя профессиональная деятельность является логическим продолжением моих хобби, о которых я бы
            также хотел сказать несколько слов…

          .definition.bg-image(data-bgimage="../uploads/about/rorchah.jpg")
            .definition__digit 1
            h3 Во-первых, это психология. Точнее — практическая психология.
            p.
              Психология и литигация тесно связаны. Если говорить об эффективной литигаторской деятельности,
              то, на мой взгляд, совершенно очевидно, что ее составляющими являются, как минимум, три группы знаний и навыков или компетенций:
            ul
              li
                h3 Правовая компетентность литигатора
              li
                h3 Стратегия и тактика литигаторской деятельности
              li
                h3 Психологическая компетентность литигатора
          blockquote.
            Считаю правильным подход совмещения профессиональной деятельности с другими сферами жизни, потому
            что адвокат, знающий только право и адвокат-литигатор — это два разных человека
          .definition.definition--group.bg-image(data-bgimage="../uploads/about/diving.jpg")
            .definition__column
              .definition__digit(data-bgimage="../uploads/about/diving.jpg") 2
              h3 Во-вторых, это технический дайвинг.
              p.
                Являясь околоэкстремальным увлечением, технический дайвинг позволяет на практике опробовать
                эффективность методик управления стрессом.
              p.
                Погружения на глубины, сильно превышающие любительские пределы, проникновение в надголовные
                среды (пещеры, затонувшие корабли) — требуют весьма высокого уровня стрессоустойчивости.
                Это увлечение тесно связано с психологией и позволяет использовать методики управления состояниями
                на практике.
            .definition__column
              .definition__digit(data-bgimage="../uploads/about/pocker.jpg") 3
              h3 В-третьих, это спортивный покер.
              p.
                Спортивный покер, ныне, в рамках компании по борьбе с незаконными казино, исключен из реестра видов
                спорта в России.
              p.
                Что вызывает мое большое сожаление — так как данный вид спорта теснейшим образом связан с
                психологией и, в отличие от он-лайн покера, в дополнение к навыку просчета вероятностей и шансов,
                оценки тактики и стратегии собственной игры и игры противника, предполагая личное участие, добавляет
                навык тонкого распознавания эмоциональных и иных особенностей оппонентов, развивает навык
                наблюдения и контроля собственных эмоциональных реакций.
            .definition__column
              .definition__digit(data-bgimage="../uploads/about/aikido.jpg") 4
              h3 В-четвертых, это айкидо.
              p.
                Восточная философия была мне интересна с детства. Длительное увлечение контактным карате в конце
                концов привела к тому, что я заинтересовался интегративными стилями боевых искусств — прежде всего,
                айкидо. Оно интересно и своей философией, огромное влияние на которую оказало религиозное течение
                Оомоте-кё и синтоистские учения, и своим основным принципом — использованием агрессии противника
                для ее же подавления.

              p.
                На мой взгляд — это именно та идея, использование которой в судебных и внесудебных баталиях,
                способно резко повысить их эффективность. Кроме того, распространение этой идеи на жизнь в целом,
                делает ее намного спокойнее, пресказуемей и интересней.
          blockquote.
            Завершая повествование о моих увлечениях, я бы хотел упомяну еще одно
          .hobby.bg-image(data-bgimage="../uploads/about/smoke.png")
            .definition__digit 5
            h3 Сигары.
            p.
              Для меня курение сигары — это и философия, и ритуал, и общение, и возможность упорядочить мысли при
              принятии важных решений.
            p С 2012 года я являюсь членом одного из Московских сигарных клубов.
            img(src="../uploads/about/sigars.png", alt="")
          hr
          .statement
            h2  Зачем мне этот сайт?
            p
              i.big.
                Действительно, зачем нужен этот сайт? Информацию можно выкладывать в социальных сетях, в
                LiveJournal … да мало ли где еще…
            p.
              Я давно шел к идее создания личного сайта. И решил, что такой сайт необходим. Потому что, на мой
              взгляд, именно в рамках личного сайта можно организовать и структурировать информацию таким образом,
              который кажется мне наиболее правильным. Именно на личном сайте можно параллельно делиться как
              информацией, относящейся к профессиональной деятельности, так и информацией, относящейся к сфере
              моих хобби и интересов. При этом не существует тех запретов и ограничений к содержанию, которые
              часто присутствуют на корпоративных сайтах. Таким образом, личный сайт позволит мне сделать общение
              с посетителями максимально личным, честным и персонифицированным…
          hr
          .statement
            h2  Что я планирую выкладывать на сайте?
            p.
              Как я писал — я вижу личный сайт неким интегративным ресурсом. Местом, где я буду выкладывать, с
              одной стороны, информацию, относящуюся к профессиональной деятельности — к примеру, статьи,
              заметки, инфографику, презентации с моих семинаров и вебинаров. С другой стороны, в рамках данного
              сайта, я бы одновременно хотел реализовать проект по объединению моих увлечений и профессиональной
              деятельности.
            p.
              На мой взгляд, это действительно интересно — описать возможность использования стратегий,
              используемых в покере в деятельности литигатора; вооружить судебного юриста реальными методиками
              управления стрессом, которые используются в техническом дайвинге. Поговорить о литигаторской
              деятельности с точки зрения восточной философии, практической психологии и т.д.
          hr
          .feed
            .title-h2 Поделитесь с друзьями
            ul.feed__list
              li
                a(href="https://www.facebook.com/dgalantsev", rel="nofollow").feed__list-link.
                  <svg width="14.47" height="27.875" viewBox="0 0 14.47 27.875">
                    <defs>
                      <style>
                        .cls-1 {
                          fill: #dee3e7;
                          fill-rule: evenodd;
                        }
                      </style>
                    </defs>
                    <path class="cls-1" d="M1127.55,771.919a6.329,6.329,0,0,0-4.64,1.715,6.48,6.48,0,0,0-1.74,4.83v3.65h-4.27v4.955h4.27v12.707h5.12V787.069h4.25l0.66-4.955h-4.91V778.95a2.8,2.8,0,0,1,.5-1.808,2.462,2.462,0,0,1,1.94-.6h2.63v-4.42a27.562,27.562,0,0,0-3.81-.2h0Z" transform="translate(-1116.91 -771.906)"/>
                  </svg>
              li
                a(href="#", rel="nofollow").feed__list-link.
                  <svg width="26.37" height="21.406" viewBox="0 0 26.37 21.406">
                    <defs>
                      <style>
                        .cls-1 {
                          fill: #dee3e7;
                          fill-rule: evenodd;
                        }
                      </style>
                    </defs>
                    <path class="cls-1" d="M1189.46,779.586a5.289,5.289,0,0,0,2.38-2.98,10.709,10.709,0,0,1-3.44,1.306,5.4,5.4,0,0,0-9.35,3.7,5.944,5.944,0,0,0,.13,1.238,15.072,15.072,0,0,1-6.22-1.665,15.286,15.286,0,0,1-4.93-3.993,5.312,5.312,0,0,0-.74,2.729,5.223,5.223,0,0,0,.66,2.578,5.4,5.4,0,0,0,1.75,1.925,5.348,5.348,0,0,1-2.44-.686v0.067a5.227,5.227,0,0,0,1.23,3.44,5.331,5.331,0,0,0,3.11,1.867,5.644,5.644,0,0,1-1.43.184,6.856,6.856,0,0,1-1.02-.084,5.423,5.423,0,0,0,5.06,3.75,10.62,10.62,0,0,1-6.72,2.31,11.374,11.374,0,0,1-1.3-.067,15.007,15.007,0,0,0,8.3,2.428,15.823,15.823,0,0,0,5.41-.913,13.88,13.88,0,0,0,4.32-2.444,16.587,16.587,0,0,0,3.09-3.524,15.7,15.7,0,0,0,1.93-4.16,15.511,15.511,0,0,0,.64-4.344c0-.313-0.01-0.547-0.02-0.7a11.363,11.363,0,0,0,2.71-2.8,10.745,10.745,0,0,1-3.11.837h0Z" transform="translate(-1166.19 -776.219)"/>
                  </svg>
              li
                a(href="#", rel="nofollow").feed__list-link.
                  <svg width="30" height="23.562" viewBox="0 0 30 23.562">
                    <defs>
                      <style>
                        .cls-1 {
                          fill: #dee3e7;
                          fill-rule: evenodd;
                        }
                      </style>
                    </defs>
                    <path class="cls-1" d="M1254.01,797.474a0.537,0.537,0,0,1-.38.159h-24.64a0.521,0.521,0,0,1-.38-0.159,0.5,0.5,0,0,1-.16-0.377V784.24a9.534,9.534,0,0,0,1.16,1.105q4.485,3.448,7.13,5.658c0.57,0.48,1.03.854,1.39,1.122a7.448,7.448,0,0,0,1.45.812,4.155,4.155,0,0,0,1.71.41h0.03a4.2,4.2,0,0,0,1.72-.41,7.761,7.761,0,0,0,1.45-.812c0.36-.268.82-0.642,1.39-1.122q2.64-2.21,7.13-5.658a10.323,10.323,0,0,0,1.16-1.105V797.1A0.541,0.541,0,0,1,1254.01,797.474Zm-0.62-15.77a7.742,7.742,0,0,1-1.69,1.933q-3.225,2.545-6.71,5.307c-0.07.056-.26,0.221-0.58,0.494s-0.59.483-.77,0.628-0.44.321-.75,0.527a4.484,4.484,0,0,1-.85.461,1.936,1.936,0,0,1-.72.15h-0.03a2.019,2.019,0,0,1-.72-0.15,4.149,4.149,0,0,1-.84-0.461q-0.465-.309-0.75-0.527c-0.19-.145-0.45-0.354-0.77-0.628s-0.52-.438-0.58-0.494c-2.33-1.841-4.56-3.61-6.72-5.307a5.859,5.859,0,0,1-2.46-4.754,0.5,0.5,0,0,1,.16-0.377,0.521,0.521,0,0,1,.38-0.159h24.64a0.556,0.556,0,0,1,.23.042,0.279,0.279,0,0,1,.15.126c0.04,0.055.07,0.106,0.1,0.15a0.715,0.715,0,0,1,.05.209c0,0.1.01,0.168,0.01,0.218v0.41A4.175,4.175,0,0,1,1253.39,781.7Zm2.13-4.713a2.565,2.565,0,0,0-1.89-.787h-24.64a2.675,2.675,0,0,0-2.68,2.679V797.1a2.675,2.675,0,0,0,2.68,2.679h24.64a2.692,2.692,0,0,0,2.68-2.679V778.883A2.562,2.562,0,0,0,1255.52,776.991Z" transform="translate(-1226.31 -776.219)"/>
                  </svg>
          .subscribe
            .pen-icon
            .title-h2.
              <span>Искренне надеюсь, что этот проект Вас заинтересует!</span></br>
              С уважением, Галанцев Дмитрий
            img(src="../uploads/about/signature.jpg", alt="")