extends templates/page-template

block script
  script(type='text/javascript').
    var vars = {
        ajaxUrl: "",
        page: 'article_page'
    };
block content
  .article-wrap.container-fluid
    header.preview.bg-image(data-bgimage="../uploads/articles/article-2.jpg", rel="nofollow")
      .preview__bg
        .preview__inner
          a.tag.tag--pen(href="#")
          .story
            time.story__time Вчера, 12:00
            a.story__title(href="#") Управление коммуникацией
          .clearfix
          ul.breadcrumbs
            li.breadcrumbs__li
              a.breadcrumbs__link(href="index.html") Дмитрий Галанцев
            li.breadcrumbs__li
              span.breadcrumbs__link Управление состояниями
          h1.preview__heading Влияние решений Европейского Суда по правам человека на формирование статуса адвоката // «Адвокатская практика», 2011, №4
    main.content
      .content-inner
        .row
          .content__preview.noover
            .col-xs-12.col-sm-12.col-md-7.col-md-offset-1
              .content__preview-text
                p В 1998 г. Россия ратифицировала Европейскую конвенцию о защите прав человека и основных свобод, а также признала обязательной юрисдикцию ЕСПЧ. В данной статье мы попытались проанализировать некоторые вопросы, посвященные обеспечению прав человека и основных свобод при осуществлении адвокатской деятельности в уголовном процессе, влиянию решений Европейского суда на формирование статуса адвоката в целом.
            .col-xs-12.col-sm-12.col-md-3
              include components/title-text
        #content-data.content__data
          <p> Европейская конвенция о защите прав человека и основных свобод обязана своим существованием Парламентской Ассамблее Совета Европы, которая разработала на своей первой сессии "нить" обязательств, принятых на себя государствами в силу Устава этой в этой сфере. Конвенция была задумана не только для достижения цели, предусмотренной в этом Уставе, - создание наиболее тесного союза европейских стран для защиты и развития прав человека и основных свобод, - но особенно для того, чтобы противостоять постоянному искушению со стороны государства нарушать права граждан.<span id="note-digit-1" class="note-digit"></span></p>
          aside.note.note-digit-1
            hr
            b Де Сальвиа М.
            br
            i Прецеденты Европейского суда по правам человека.
            p Руководящие принципы судебной практики, относящейся к Европейской конвенции о защите прав человека и основных свобод.
            p Судебная практика с 1960 по 2002 г. СПб.: Юридический центр Пресс, 2004. С. 9.
          p В 1998 г. Россия ратифицировала Конвенцию, обязавшись тем самым обеспечить каждому закрепленные в ней права и свободы и признав юрисдикцию Европейского суда по правам человека (далее - Суд или ЕСПЧ). Как указано в Федеральном законе о ее ратификации от 30 марта 1998 г. N 54-ФЗ, "Российская Федерация в соответствии со статьей 46 Конвенции признает ipso facto и без специального соглашения юрисдикцию Европейского суда по правам человека обязательной по вопросам толкования и применения Конвенции и Протоколов к ней в случаях предполагаемого нарушения Российской Федерацией положений этих договорных актов, когда предполагаемое нарушение имело место после их вступления в<span id="note-digit-2" class="note-digit"></span> действие в отношении Российской Федерации". Кроме того, важно учитывать и другие решения ЕСПЧ, так как в них отражается его позиция, и в случае необходимости в отношении России может быть принято аналогичное (например, дела "Нимитц против Германии" и "Колесниченко против РФ").<span id="note-digit-3" class="note-digit"></span>
          aside.note.note-digit-2
            hr
            i Постановление Европейского суда от 13 ноября 2003 г. по делу "Элчи и другие (Elci and Others) против Турции";
            br
            span СПС "КонсультантПлюс".
          aside.note.note-digit-3
            hr
            b Глашев А.А.
            br
            i.
              Адвокатура и адвокатская деятельность в решениях Европейского суда по правам человека / Адвокатская
              палата г. Москвы [и др.]. М.: Лигалорбирс, 2004. С. 4.
          p.
            Суд особо подчеркивает центральную роль профессии адвоката в отправлении правосудия и поддержании
            верховенства права. Свобода адвокатской работы является существенным компонентом демократического
            государства и необходимой предпосылкой для воплощения в жизнь требований Конвенции.
          p.
            Как отмечает Г.М. Резник, адвокат выполняет публичную функцию служения общественному интересу путем
            оказания свободной и независимой юридической помощи и занимает тем самым центральное место в системе
            отправления правосудия в качестве посредника между общественностью и судами, вместе с тем вовлечение
            адвокатов в процесс отправления правосудия не лишает адвокатскую профессию гражданского характера -
            следовательно, этические ограничения, необходимые для поддержания профессии.
          hr
          h2 Влияние решений ЕСПЧ на публично-правовой статус адвоката H2
          h3 Правовая природа профессии адвоката H3
          p.
            Суд отметил, что адвокатская палата в некотором смысле является частью судебной системы, но этот
            фактор не является решающим и не мешает адвокатской профессии иметь гражданский характер:
          aside.note.note--p
            hr
            p Более раскрыто об адвокатской палате читайте в статье
              br
              a(href="#")
                b.extra Более раскрыто об адвокатской палате читайте в статье
          ol
            li.
              Отсутствует объединение или подчинение местным судам. Напротив, адвокатура несет полную
              ответственность.
            li.
              Профессия адвоката традиционно считалась одной из самых независимых. Вступив в адвокатуру, ее член
              сам решает - практиковать ему или нет. Если адвокат не назначен в том или ином деле судом, он
              выбирает клиентов добровольно и на свое усмотрение.
              <aside class="note note--p">
                <img src="../uploads/articles/article-4.jpg" alt="">
                <p><i> Постановление Европейского суда от 13 ноября 2003 г. по делу "Элчи и другие
                (Elci and Others) против Турции"</i></p>
              </aside>
            li Контора адвоката и его клиентура составляют интерес и подпадают значению п. 1 ст. 6.
            li.
              Адвокаты в Бельгии пользуются исключительным правом на судебное представительство, но они также
              выполняют многочисленные важные функции вне суда, выступая в роли советников, посредников, даже
              арбитров. Эти обязанности, которые иногда занимают значительное время, являются
          p.
            Суд отметил, что адвокатская палата в некотором смысле является частью судебной системы, но этот фактор не является решающим
            и не мешает адвокатской профессии иметь гражданский характер:
          ul
            li.
              Отсутствует объединение или подчинение местным судам. Напротив, адвокатура несет полную
              ответственность за свой состав и за дисциплину.
            li.
              Профессия адвоката традиционно считалась одной из самых независимых. Вступив в адвокатуру, ее член
              сам решает - практиковать ему или нет. Если адвокат не назначен в том или ином деле судом, он
              выбирает клиентов добровольно и на свое усмотрение, без вмешательства органов государственной власти.
              Он может отказаться от участия в деле, если это продиктовано требованиями.
          h3 Права, гарантированные статьями 10, 11 Конвенции
          figure.left
            img(src="../uploads/articles/cigar.jpg", width="574", height="88", alt="")
            figcaption.
              Постановление Европейского суда от 13 ноября 2003 г. по делу "Элчи и другие (Elci and Others)
              против Турции"
          p.
            В решении по этому же делу Суд расширил понятие "жилище", признав таковым и некоторую нежилую
            недвижимость. Суд отметил, что не всегда можно провести четкое разграничение между жильем и офисом,
            в частности, потому, что вести деятельность, которую можно отнести к профессиональной или деловой,
            можно с таким же успехом и со своего места жительства, и, наоборот, можно заниматься делами,
            которые не относятся к профессиональной сфере, в офисе или коммерческих служебных помещениях.
            Узкое понимание термина "жилище" может привести к такой же опасности неравенства, как и узкое
            понимание "личная жизнь". Суд подытожил: "Если говорить в общем, толкование слова "жилище" как
            охватывающего служебные помещения, более созвучно с предметом и целью ст. 8".
          figure.center
            img(src="../uploads/articles/cigar.jpg", width="574", height="88", alt="")
            figcaption.
              Суд отметил, что не всегда можно провести четкое разграничение между жильем и офисом, в частности,
              потому, что вести деятельность, которую можно отнести к профессиональной или деловой, можно с таким
              же успехом и со своего места жительства, и, наоборот, можно заниматься делами, которые не относятся
              к профессиональной сфере, в офисе или коммерческих служебных помещениях
          h4 Аналогичное решение Европейский суд вынес по делу "Колесниченко против РФ" H4.
          p.
            Заявитель, практикующий адвокат, член Адвокатской палаты Пермской области, жаловался на то, что
            обыск в его жилище проводился в нарушение его права на уважение жилища, гарантированного ст. 8
            Конвенции. Колесниченко подчеркивал, что национальные власти были осведомлены о его статусе адвоката,
            поскольку он упоминался в разрешении на обыск. Несмотря на это, они приступили к обыску по месту
            жительства и работы и изъяли документы, что представляло собой вмешательство в его.
          p
            img(src="../uploads/articles/cigar.jpg", width="574", height="88", alt="")
          pre.
            Европейский суд признал нарушение ст. 8 Конвенции, а также отметил: "Преследование и запугивание
            представителей юридической профессии затрагивают самое сердце конвенционной системы. Таким образом,
            обыск адвокатских помещений должен быть предметом особенно тщательного контроля". Европейский суд
            исследует доступность в соответствии с национальным законодательством эффективных гарантий против
            злоупотреблений или произвола и проверяет, как эти гарантии действовали в конкретном рассматриваемом
            деле. Элементами, принимаемыми во внимание, являются тяжесть преступления, в связи с которым
            проводятся обыск и изъятие, была ли получена санкция судьи или лица, наделенного судебными
            полномочиями, или проводилась ли впоследствии судебная проверка, было ли постановление основано
            на разумном подозрении, и были ли пределы вмешательства разумно ограничены. <a href="#"><b>Европейский суд проверяет
            способ проведения обыска и - если речь идет об адвокатской конторе</b></a> - проводится ли он в присутствии
            независимого наблюдателя, обеспечивающего неприкосновенность предметов, относящихся к профессиональной
            тайне. Кроме того, Суд принимает во внимание масштабы последствий для работы и репутации лиц,
            затронутых обыском.
          blockquote
            p.
              “В 1998 г. Россия ратифицировала Европейскую конвенцию о защите прав человека и основных свобод,
              адвокатской деятельности в уголовном процессе, влиянию решений Европейского суда на формирование
              статуса адвоката в целом.”
            cite Де Сальвиа М., 1975 г.
          h4 Аналогичное решение Европейский суд вынес по делу "Колесниченко против РФ" H4.
          p.
            Заявитель, практикующий адвокат, член Адвокатской палаты Пермской области, жаловался на то, что обыск
            в его жилище проводился в нарушение его права на уважение жилища, гарантированного ст. 8 Конвенции.
            Колесниченко подчеркивал, что национальные власти были осведомлены о его статусе адвоката, поскольку
            он упоминался в разрешении на обыск. Несмотря на это, они приступили к обыску по месту жительства и
            работы и изъяли документы, что представляло собой вмешательство в его профессиональную деятельность.
            Заявитель подчеркивал, что обыск начался в 21.40 и, очевидно, не мог быть закончен к 22.00, в то
            время как национальное законодательство по общему правилу запрещало ночные обыски, т.е. после 22.00.
          .table-responsive
            h4 Заголовок таблицы h4
            table.table
              thead
                tr
                  th Автор
                  th Публикация
                  th Год
                  th Издание/источник
              tbody
                tr
                  td Де Сальвиа М.
                  td.
                    Прецеденты Европейского суда по правам человека. Руководящие принципы судебной практики,
                    относящейся к Европейской конвенции о защите прав человека и основных свобод.
                    Судебная практика с 1960 по 2002 г.
                  td 2004
                  td СПб.: Юридический центр Пресс
                tr
                  td —
                  td.

                  td 2003
                  td СПС "КонсультантПлюс"
                tr
                  td Глашев А.А.
                  td.
                    Постановление Европейского суда от 13 ноября 2003 г. по делу "Элчи и другие (Elci and Others)
                    против Турции"
                  td 2004
                  td М.: Лигалорбирс
                tr
                  td Schopfer v. Switzerland
                  td.
                    Адвокатура и адвокатская деятельность в решениях Европейского суда по правам человека /
                    Адвокатская палата г. Москвы
                  td 1998
                  td
                    a(href="http://cmiskp.echr.coe.int/tkp197/search.asp?skin= hudoc-en") http://cmiskp.echr.coe.int/tkp197/search.asp?skin=hudoc-en
          hr
          table
            tbody
              tr
                td
                  h6 Страна происхождения:
                td Куба
              tr
                td
                  h6 Формат:
                td Тоrpedo
          hr
          h2  Дмитрий Галанцев. Банкротство физических лиц. На “Что делать ТВ” H2
          .embed-responsive.
            <iframe src="https://www.youtube.com/embed/RFer0RQCkwI?rel=0&wmode=transparent" allowfullscreen=""></iframe>
          small
            i.
              Суд отметил, что не всегда можно провести четкое разграничение между жильем и офисом, в частности,
              потому, что вести деятельность, которую можно отнести к профессиональной или деловой, можно с таким
              же успехом и со своего места жительства, и, наоборот, можно заниматься делами, которые не относятся к
              профессиональной сфере, в офисе или коммерческих служебных помещениях
          hr
          .title-h2 Галерея фотографий
          .gallery
            a(href="../uploads/articles/article-1.jpg")
              img(src="../uploads/articles/article-1.jpg", alt="")
            a(href="../uploads/articles/article-2.jpg")
              img(src="../uploads/articles/article-2.jpg", alt="")
            a(href="../uploads/articles/article-3.jpg")
              img(src="../uploads/articles/article-3.jpg", alt="")
            a(href="../uploads/articles/article-4.jpg")
              img(src="../uploads/articles/article-4.jpg", alt="")
            a(href="../uploads/articles/article-3.jpg")
              img(src="../uploads/articles/article-3.jpg", alt="")
            a(href="../uploads/articles/article-4.jpg")
              img(src="../uploads/articles/article-4.jpg", alt="")
          hr
        #feed.feed
          .title-h2 Поделитесь с друзьями
          ul.feed__list
            li
              span.feed__list-link.fa.fa-facebook
            li
              span.feed__list-link.fa.fa-twitter

            li
              a(href="mailto:?subject=document.title&body=", rel="nofollow").feed__list-link.fa.fa-envelope-o

        .disqus
          .title-h2 Комментарии
          #disqus_thread
        .subscribe
          .newspaper-icon
          .title-h2.
            <span>Эта запись блога была из рубрики</span></br>
            <a href="">Управление коммуникацией</a>
        .paging
          .paging__item
            .paging__item-tt Предыдущая статья
            a.paging__item-arrow(href="#", rel="nofollow")
            a.paging__item-link(href="#").
              Освещает общую криминологическую теорию, частные криминологические проблемы, а также деятельность
              Санкт-Петербургского международного криминологического клуба
          .paging__item
            .paging__item-tt Следующая статья
            a.paging__item-arrow(href="#", rel="nofollow")
            a.paging__item-link(href="#").
              Общественные отношения, составляющие предмет конституционного права отличаются стабильность и
              устойчивостью
        .clearfix
