extends templates/page-template

block script
  script(type='text/javascript').
    var vars = {
        ajaxUrl: "",
        page: 'common_page'
    };

block content
  include components/headerArticles.jade
  .blocks
    .blocks__inner
      .container
        .row.masonry-wrap
          .masonry-overflow
            .masonry

              .col-xs-12.col-sm-6.col-md-4.masonry-item.last
                article.blocks__article
                  .article__top
                    .article__top-picture.bg-image(style="background-image: url(../uploads/articles/article-1.jpg)")
                    a.article__top-link(href="article.html", rel="nofollow")
                    a.tag.tag--pen(href="articles.html", rel="nofollow")

                      //- a.story__title(href="articles.html") Корпоративное право
                  .article__bottom
                    .story-top
                      time.story__time Вчера, 12:00
                      a(href='#').label События
                    h3.article__title
                      a(href="article.html") Освещает общую криминологическую теорию, криминологические отрасли, частные криминологические проблемы, а также деятельность
                    a.article__source(href="#")
                      img.article__source-img(src="../uploads/articles/logo.jpg")
                      span.article__source-link www.the-village.ru

              .col-xs-12.col-sm-6.col-md-4.masonry-item.event
                article.blocks__article
                  .article__top
                    .article__top-picture.bg-image(style="background-image: url(../uploads/articles/article-2.jpg)")
                    a.article__top-link(href="article.html", rel="nofollow")
                    a.tag.tag--newspaper(href="articles.html", rel="nofollow")
                  .article__bottom
                    .story-top
                      time.story__time Вчера, 12:00
                      a(href='#').label Управление коммуникацией
                    h3.article__title
                      a(href="article.html") Освещает общую криминологическую теорию, криминологические отрасли, частные криминологические проблемы, а также деятельность

              .col-xs-12.col-sm-6.col-md-4.masonry-item.last
                article.blocks__article
                  .article__top
                    .article__top-picture.bg-image(style="background-image: url(../uploads/articles/article-2.jpg)")
                    a.article__top-link(href="article.html", rel="nofollow")
                    a.tag.tag--newspaper(href="articles.html", rel="nofollow")
                  .article__bottom
                    .story-top
                      time.story__time Вчера, 12:00
                      a(href='#').label Управление коммуникацией
                    h3.article__title
                      a(href="article.html") Освещает общую криминологическую теорию, криминологические отрасли, частные криминологические проблемы, а также деятельность

              .col-xs-12.col-sm-6.col-md-4.masonry-item.event
                article.blocks__article
                  .article__top
                    .article__top-picture.bg-image(style="background-image: url(../uploads/articles/article-1.jpg)")
                    a.article__top-link(href="article.html", rel="nofollow")
                    a.tag.tag--pen(href="articles.html", rel="nofollow")
                  .article__bottom
                    .story-top
                      time.story__time Вчера, 12:00
                      a(href='#').label Корпоративное право
                    h3.article__title
                      a(href="article.html") Освещает общую криминологическую теорию, криминологические отрасли, частные криминологические проблемы, а также деятельность
                    a.article__source(href="#")
                      img.article__source-img(src="../uploads/articles/logo.jpg")
                      span.article__source-link www.the-village.ru

              .col-xs-12.col-sm-6.col-md-4.masonry-item.event
                article.blocks__article
                  .article__bottom
                    .story-top
                      time.story__time Вчера, 12:00
                      a(href='#').label Корпоративное право
                    h3.article__title
                      a(href="article.html") Освещает общую криминологическую теорию, криминологические отрасли, частные криминологические проблемы, а также деятельность
                    a.article__source(href="#")
                      img.article__source-img(src="../uploads/articles/logo.jpg")
                      span.article__source-link www.the-village.ru

              .col-xs-12.col-sm-6.col-md-4.masonry-item.event
                include components/form

              .col-xs-12.col-sm-6.col-md-4.masonry-item.last
                article.blocks__article
                  .article__top
                    .article__top-picture.bg-image(style="background-image: url(../uploads/articles/article-2.jpg)")
                    a.article__top-link(href="article.html", rel="nofollow")
                    a.tag.tag--newspaper(href="articles.html", rel="nofollow")
                  .article__bottom
                    .story-top
                      time.story__time Вчера, 12:00
                      a(href='#').label Управление коммуникацией
                    h3.article__title
                      a(href="article.html") Освещает общую криминологическую теорию, криминологические отрасли, частные криминологические проблемы, а также деятельность

              .col-xs-12.col-sm-6.col-md-4.masonry-item.event
                article.blocks__article
                  .article__top
                    .article__top-picture.bg-image(style="background-image: url(../uploads/articles/article-2.jpg)")
                    a.article__top-link(href="article.html", rel="nofollow")
                    a.tag.tag--newspaper(href="articles.html", rel="nofollow")
                  .article__bottom
                    .story-top
                      time.story__time Вчера, 12:00
                      a(href='#').label Управление коммуникацией
                    h3.article__title
                      a(href="article.html") Освещает общую криминологическую теорию, криминологические отрасли, частные криминологические проблемы, а также деятельность

              .col-xs-12.col-sm-6.col-md-4.masonry-item.last
                article.blocks__article
                  .article__top
                    .article__top-picture.bg-image(style="background-image: url(../uploads/articles/article-2.jpg)")
                    a.article__top-link(href="article.html", rel="nofollow")
                    a.tag.tag--newspaper(href="articles.html", rel="nofollow")
                  .article__bottom
                    .story-top
                      time.story__time Вчера, 12:00
                      a(href='#').label Управление коммуникацией
                    h3.article__title
                      a(href="article.html") Освещает общую криминологическую теорию, криминологические отрасли, частные криминологические проблемы, а также деятельность

              .col-xs-12.col-sm-6.col-md-4.masonry-item.event
                article.blocks__article
                  .article__top
                    .article__top-picture.bg-image(style="background-image: url(../uploads/articles/article-2.jpg)")
                    a.article__top-link(href="article.html", rel="nofollow")
                    a.tag.tag--newspaper(href="articles.html", rel="nofollow")
                  .article__bottom
                    .story-top
                      time.story__time Вчера, 12:00
                      a(href='#').label Управление коммуникацией
                    h3.article__title
                      a(href="article.html") Освещает общую криминологическую теорию, криминологические отрасли, частные криминологические проблемы, а также деятельность

      .article-loaders
        img(src="../images/loader.svg")
      .more-center
        a.btn(href="#") загрузить еще