extends templates/page-template

block script
  script(type='text/javascript').
    var vars = {
        ajaxUrl: "",
        page: 'landing_page'
    };

block content
    include components/landingBook
    include components/landingThemes
    include components/landingForm_top
    include components/landingAuthors
    include components/landingPartners
    include components/landingTestimonials
    include components/landingTestimonialsForm
    include components/landingForm_bottom