extends templates/page-template

block script
  script(type='text/javascript').
    var vars = {
        ajaxUrl: "",
        page: 'common_page'
    };

block content
  .heading.mod.page-title
    .container
      .row
        .col-xs-12
          ul.breadcrumbs
            li.breadcrumbs__li
              a.breadcrumbs__link(href="index.html") Дмитрий Галанцев
            li.breadcrumbs__li
              span.breadcrumbs__link Проекты
        .col-xs-12.col-md-6
          h1.extra Проекты
  .blocks
    .blocks__inner
      .container
        .row
          .col-xs-12
            .project-row
              .row
                .col-xs-12.col-md-2
                  p.project-date 14 Сентября 2009
                .col-xs-12.col-md-10
                  .project-title
                    h4 Кассационная жалоба повлекла отмену решения районного суда г. Москвы
                  .project-content__boxshadow
                    .project-content__wrapper
                      .project-content__inner
                        p Т. обратилась с иском к Н. о признании его не приобретшим право пользования жилым помещением и снятии с регистрационного учета из муниципальной квартиры полученной ответчиком Н. по обменному ордеру в 1992г. Н. являлся ответственным квартиросъемщиком, однако в жилом помещении не проживал, из-за конфликтных отношений с истицей Т.
                        p О. обратился в суд с иском к М. о расторжении договора купли - продажи квартиры с правом пожизненного проживания, мотивируя свои требования тем, что в июне 2005г. заключил с М. договор купли-продажи квартиры принадлежащей ему по праву собственности. Однако денег от продажи квартиры не получил.
                        p Т. обратилась с иском к Н. о признании его не приобретшим право пользования жилым помещением и снятии с регистрационного учета из муниципальной квартиры полученной ответчиком Н. по обменному ордеру в 1992г. Н. являлся ответственным квартиросъемщиком, однако в жилом помещении не проживал, из-за конфликтных отношений с истицей Т.
                        p О. обратился в суд с иском к М. о расторжении договора купли - продажи квартиры с правом пожизненного проживания, мотивируя свои требования тем, что в июне 2005г. заключил с М. договор купли-продажи квартиры принадлежащей ему по праву собственности. Однако денег от продажи квартиры не получил.
                        p Т. обратилась с иском к Н. о признании его не приобретшим право пользования жилым помещением и снятии с регистрационного учета из муниципальной квартиры полученной ответчиком Н. по обменному ордеру в 1992г. Н. являлся ответственным квартиросъемщиком, однако в жилом помещении не проживал, из-за конфликтных отношений с истицей Т.
                        p О. обратился в суд с иском к М. о расторжении договора купли - продажи квартиры с правом пожизненного проживания, мотивируя свои требования тем, что в июне 2005г. заключил с М. договор купли-продажи квартиры принадлежащей ему по праву собственности. Однако денег от продажи квартиры не получил.
          .col-xs-12
            .project-row
              .row
                .col-xs-12.col-md-2
                  p.project-date 14 Сентября 2009
                .col-xs-12.col-md-10
                  .project-title
                    h4 Расторжение договора купли – продажи квартиры
                  .project-content__boxshadow
                    .project-content__wrapper
                      .project-content__inner
                        p Т. обратилась с иском к Н. о признании его не приобретшим право пользования жилым помещением и снятии с регистрационного учета из муниципальной квартиры полученной ответчиком Н. по обменному ордеру в 1992г. Н. являлся ответственным квартиросъемщиком, однако в жилом помещении не проживал, из-за конфликтных отношений с истицей Т.
      <div class="more-center"><a href="#" class="btn load-more">загрузить еще</a></div>