- var headerClassName = "header-freeze"
block script
  script(type='text/javascript').
    var vars = {
        ajaxUrl: "",
        page: 'common_page'
    };
doctype html
html(lang="ru")
  include components/head
  body
    .wrap
      include components/header
      .heading.heading--search
        .container-fluid
          ul.breadcrumbs
            li.breadcrumbs__li
              a.breadcrumbs__link(href="index.html") Дмитрий Галанцев
            li.breadcrumbs__li
              span.breadcrumbs__link Результаты поиска
          form.form.form--search
            fieldset
              input.form-control(type="text", name="search", placeholder="Поиск:", value="Криминологические")
            button.btn(type="submit") Обновить поиск
      .blocks
        .container-fluid
          .blocks__inner.search-group
            .search-group__nf Подходящих результатов не найдено.
            .search-item
              a.search-item__img-link(href="article.html")
                img(src="../uploads/articles/article-1.jpg", alt="")
              a.search-item__title(href="article.html").
                Освещает общую <span class="searched">криминологическую</span> теорию, <span class="searched">криминологические</span> отрасли,
                частные <span class="searched">криминологические</span> проблемы, а также деятельность Санкт-Петербургского
                международного <span class="searched">криминологического</span> клуба
              p.search-item__text.
                Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели
                превратился в страшное насекомое. Криминологические проблемы на панцирнотвердой спине, он видел,
                стоило ему приподнять голову, свой коричневый, выпуклый, разделенный ...
            .search-item
              a.search-item__title(href="article.html").
                Освещает общую <span class="searched">криминологическую</span> теорию, <span class="searched">криминологические</span> отрасли,
                частные <span class="searched">криминологические</span> проблемы, а также деятельность Санкт-Петербургского
              p.search-item__text.
                Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в
                своих четырех хорошо знакомых стенах.
            .search-item
              a.search-item__img-link(href="article.html")
                img(src="../uploads/articles/article-3.jpg", alt="")
              a.search-item__title(href="article.html").
                Освещает общую <span class="searched">криминологическую</span> теорию, <span class="searched">криминологические</span> отрасли,
                частные <span class="searched">криминологические</span> проблемы, а также деятельность Санкт-Петербургского
              p.search-item__text.
                Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в
                своих четырех хорошо знакомых стенах.
            .search-item
              a.search-item__img-link(href="article.html")
                img(src="../uploads/articles/article-4.jpg", alt="")
              a.search-item__title(href="article.html").
                Освещает общую <span class="searched">криминологическую</span> теорию, <span class="searched">криминологические</span> отрасли,
                частные <span class="searched">криминологические</span> проблемы, а также деятельность Санкт-Петербургского
                международного <span class="searched">криминологического</span> клуба
              p.search-item__text.
                Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели
                превратился в страшное насекомое. Криминологические проблемы на панцирнотвердой спине, он видел,
                стоило ему приподнять голову, свой коричневый, выпуклый, разделенный ...
            .search-item
              a.search-item__title(href="article.html").
                Освещает общую <span class="searched">криминологическую</span> теорию, <span class="searched">криминологические</span> отрасли,
                частные <span class="searched">криминологические</span> проблемы, а также деятельность Санкт-Петербургского
              p.search-item__text.
                Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в
                своих четырех хорошо знакомых стенах.
            .search-item
              a.search-item__img-link(href="article.html")
                img(src="../uploads/articles/article-3.jpg", alt="")
              a.search-item__title(href="article.html").
                Освещает общую <span class="searched">криминологическую</span> теорию, <span class="searched">криминологические</span> отрасли,
                частные <span class="searched">криминологические</span> проблемы, а также деятельность Санкт-Петербургского
              p.search-item__text.
                Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в
                своих четырех хорошо знакомых стенах.
    include components/footer
    include components/scripts
